resources.yaml
*.request
__pycache__/
data/EventLog*
data/gel_timestamp.txt
data/logs/
output/
*.err
*.out

# DAGs, logs, etc
*.dag
*.dag.status
*.dag.log
*.dag.err
*.dag.out
*.dag.rescue*
*.dag.lock
*.dag.metrics
*.dag.condor.sub

pproc/logs
*.log

EventLog*
*.h5
*.csvcp
pipeline.dag*
nodes.dag.status
resources.yaml
config.yaml
*baseline.dag

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
.cursor
.cursorrules
CLAUDE.md
# tasks.json
# tasks/
#
2025-*
